__pycache__/
*.egg-info/
.coverage
.coverage-percentage
.mypy_cache/
.ruff_cache/
.tox/
.pytest_cache/
.pytest_cache/
htmlcov/
local/
scratch/
logs/
.venv/
.env
.env.local
.env.development.local
.env.test.local
.env.production.local